body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  text-align: center;
}

nav {
  background-color: #2c3e50;
  padding: 12px;
}

nav a {
  color: white;
  margin: 15px;
  text-decoration: none;
  font-size: 16px;
}

nav a:hover {
  text-decoration: underline;
}

.container {
  padding: 40px;
}

h1, h2 {
  color: #2c3e50;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: white;
  margin: 10px auto;
  padding: 10px;
  width: 300px;
  border-radius: 5px;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background: green;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}


/* Mobile Responsive */
@media (max-width: 600px) {
  nav a {
    display: block;
    margin: 10px 0;
  }

  li {
    width: 90%;
  }

  .container {
    padding: 20px;
  }
}
